spring:
  application:
    name: echoform-backend
  
  datasource:
    url: jdbc:h2:mem:echoform_db;DB_CLOSE_DELAY=-1
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.echoform: DEBUG
    org.springframework.web: DEBUG
