spring:
  application:
    name: echoform-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/echoform_db
    username: echoform_user
    password: echoform_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.echoform: DEBUG
    org.springframework.web: DEBUG
